.login {
    width: 100%;
    height: 100%;
    background: url(http://172.16.10.111/exam/resources/images/exam_student.jpg) no-repeat;
    background-size: 100% 100%;
}

.login-main {
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 30px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}